{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Cognate a Corporate Business Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Cognate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<script src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<!--web-fonts-->
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin:400,700,500,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico|Prata' rel='stylesheet' type='text/css'>
	<!--//web-fonts-->

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/swipebox.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<script src="{% static 'js/bootstrap.js'%}"></script>
	<script src="{% static 'js/counterup.min.js'%}"></script>
	<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
	<script src="{% static 'js/jquery.swipebox.min.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
	<script src="{% static 'js/waypoints.min.js'%}"></script>
	<script src="{% static 'js/wow.min.js'%}"></script>
	
	



	<!--search jQuery-->
	<script src="js/main.js"></script>
	<!--//search jQuery-->
	<!-- animation-effect -->
	<link href="css/animate.min.css" rel="stylesheet">
	<script src="js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<!-- //animation-effect -->
	

</head>

<body>
	<!--start-header-->
	<div class="top-bar w3agile-1" id="home">
		<div class="container">
			<div class="row">
				<div class="col-md-8 top-left wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
					<span class="phone">
						<i class="glyphicon glyphicon-phone"></i>
						<em>+1234567890</em>
					</span>
					<span class="email">
						<i class="glyphicon glyphicon-send"></i>
						<em><a href="mailto:info@example.com">mail@example.com</a></em>
					</span>
					<span class="location">
								<i class="glyphicon glyphicon-map-marker"></i>
								   <em>Sydney City</em>
							</span>
				</div>
				<div class="col-md-4 head-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".3s">
				   <ul class="top-icons">
							<li><a class="fb" href="#"></a></li>
							<li><a class="twitt" href="#"></a></li>
							<li><a class="goog" href="#"></a></li>
							<li><a class="drib" href="#"></a></li>
					   </ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>

<!-- //header -->
<!-- banner -->
<div class="banner agileinfo-1">
<div class="container">
	<div class="header"><!--header-->	
		<nav class="navbar navbar-default">
			<div class="navbar-header wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a href="index.html">Cognate</a></h1>
			</div>
			<!--navbar-header-->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html" class="active">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a onclick="document.getElementById('id01').style.display='block'" href="#">Login</a>
					</li>
				</ul>	
				<div class="clearfix"> </div>	
			</div>
		</nav>
	<div class="cd-main-header">
		<ul class="cd-header-buttons">
			<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
		</ul> <!-- cd-header-buttons -->
	</div>
	<div id="cd-search" class="cd-search">
		<form action="#" method="post">
			<input name="Search" type="search" placeholder="Search...">
		</form>
	</div>
</div>

</div>
</div>
<!-- //banner --> 
	<div class="container">
		<!--<div class="row">
			<div class="col-md-4" style="background-color:royalblue;">
			</div>
			<div class="col-md-4"> -->
				<div id="id01" class="modal">
					<form class="modal-content  animate" action="/action_page.php" method="post">

						<div class="loginform">

							<span onclick="document.getElementById('id01').style.display='none'" class="close"
								title="Close Modal">&times;</span>
							<img src="static/images/login.jpg" alt="Avatar" class="avatar pull-left"
								style="height: 80px; width: 80px;"><br> <br><br>
							<hr style="border-width: 5px; color: orange;">
							<center>
								<input class="lform" type="text" placeholder="Enter Email" name="ename" required><br>


								<input class="lform" type="password" placeholder="Enter Password" name="psw" required><br>

								<button type="submit">Login</button><br>
								<label>
									<input class="lform" type="checkbox" checked="checked" name="remember"> Remember me
								</label>
								<div class="text-center" style="background-color:#f1f1f1;">
									<button type="button" onclick="document.getElementById('id01').style.display='none'"
										class="cancelbtn text-center">Cancel</button><br>
									
									<p class="psw text-center">Forgot <a href="#"><u>password?</u></a> <br>
										Not yet registered ? <br> <a href="reg"><u>Register Now</u></a></p>
							</center>
						</div>
					</form>	
				<!-- </div>
			</div> -->
			<!-- <div class="col-sm-4" style="background-color: orange;">
			</div> -->
		<!-- </div> -->
	</div>
	</div>

	<!-- block content -->

	{% block content %}
    {% endblock content %}


	<!-- //block content -->
	<!-- /w3ls -->
	<div class="w3ls">
		<div class="container">
			<div class="col-md-4 w3ls-right wow fadeInLeft animated animated" data-wow-delay=".5s"
				style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
				<h3>Contact Us</h3>
				<p class="para">Corrupti quos dolores et quas molestias excepturi .</p>
				<ul class="con-icons">
					<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+123 456 7890</li>
					<li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope"
								aria-hidden="true"></span>info@example.com</a></li>
					<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>London, Jasmin Road</li>

				</ul>


			</div>
			<div class="col-md-4 w3ls-left wow fadeInUp animated animated" data-wow-delay=".5s"
				style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
				<h3>Information</h3>

				<p class="para">At vero eos et accusamus et iusto odio dignissimos
					ducimus qui blanditiis praesentium voluptatum deleniti at
					que corrupti quos dolores et quas molestias excepturi sint
					occaecati cupiditate non provident, similique sunt.</p>

			</div>
			<div class="col-md-4 w3ls-right wow fadeInRight animated animated" data-wow-delay=".5s"
				style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
				<h3>Follow Us</h3>

				<p class="para">voluptatum deleniti at
					que corrupti quos dolores et quas molestias excepturi sint
					occaecati cupiditate non provident, similique sunt.</p>
				<ul class="fb_icons">
					<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
				</ul>
			</div>

			<div class="clearfix"></div>
			<p class="copy-right wow fadeInUp animated animated" data-wow-delay=".5s"
				style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">© 2016 Cognate. All rights
				reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>

		</div>
	</div>
	


	<!-- //w3ls -->
</body>

</html>